.child{
    width: 30%;
    height: 300px;
    background-color: cadetblue;
    border: 5px solid black;
}
.parent{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
    flex-wrap: nowrap;
    /* flex-flow: column wrap;   short me wrap or directio a */
    height: 1000px;
    width: 100%;

}
.one{
    flex-shrink: 1;
}
