.random{
    /* display:none ; */
}
.comon1{
    width: 200px;
    height: 100px;
    background-color: red;
    border: solid 2px black ;
    
}
.comon2{
    width: 200px;
    height: 100px;
    background-color: red;
    border: solid 2px black ;
    display:viseblety hidden;
}
.comon3{
    width: 200px;
    height: 100px;
    background-color: red;
    border: solid 2px black ;
    display: none;
}